:root {
	--mustard: #D7B344;
	--red: #A1151A;
	--background: #F4F2EB;
}

body {
	background-color: var(--background);
	font-family: sans-serif;
	margin: 0;
}

.page {
	display: flex;
	flex-direction: column;
	margin-bottom: 100px;
}

.header, .mission, .statement, .large-nav {
	padding: 10px 10%;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: var(--background);
	position: sticky;
	z-index: 10;
	top: 0px;
}

.mission {
	background-color: var(--red);
	background-image: url("Assets/Backgrounds/texture-a 1.png");
	background-blend-mode: multiply;
	background-size: cover;
	color: white;
}

.statement, .large-nav {
	position: relative;
	padding: 0px;
}

.logo {
	align-self: flex-start;
}

.nav {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.nav-upper {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.socials {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-right: 20px;
	border-right: 1px solid rgb(1, 1, 1, 0.46);
}

.social {
	padding: 0px 10px;
	height: 16px;
}

.login {
	padding-left: 20px;
}

.nav-pages a, .nav-pages span {
	padding: 0px 10px;
}

.bg-accent {
	position: absolute;
	background-color: white;
	width: 70%;
	height: 100%;
}

.over-accent {
	position: relative;
	padding: 10px 10%;
}

.row-adapt {
	display: flex;
	flex-direction: row;
	position: relative;
}

h1, h2 {
	font-family: serif;
}

.header-em {
	font-style: italic;
}

.mission .cell {
	position: relative;
}

.mission .column {
	display: flex;
	align-items: center;
	justify-content: center;
}

.mission .text {
	margin-right: 50px;
	margin-bottom: 50px;
}

.mission .images {
	height: 380px;
	width: 330px;
	align-self: center;
}

.mission .a, .mission .b, .mission .square, .mission .circle {
	position: absolute;
	display: block;
	border-radius: 12px;
	box-shadow: 0px 0px 24px black;
	z-index: 3;
}

.mission .square {
	background-color: var(--mustard);
	top: 100px;
	left: 80px;
	width: 200px;
	height: 200px;
}

.mission .circle {
	display: flex;
	align-items: center;
	justify-content: center;
	top: 310px;
	left: 300px;
	width: 160px;
	height: 160px;
	border-radius: 80px;
	border: 1.5px dashed var(--mustard);
	box-shadow: 0px 0px 0px black;
	z-index: 2;
}

.mission .ribbon {
	width: 80px;
}

.mission .a {
	width: 260px;
}

.mission .b {
	top: 140px;
	left: 160px;
	width: 160px;
}

.statement .cell {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-shadow: 0px 2px 4px #AAA;
}

.statement .images {
	position: relative;
	height: 300px;
	width: 301px;
	align-self: center;
	margin: 50px 0px;
}

.statement .text {
	padding-left: 300px;
}

.statement .c, .statement .square {
	position: absolute;
	display: block;
	border-radius: 12px;
	box-shadow: 0px 0px 24px black;
	z-index: 3;
}

.statement .square {
	background-color: var(--mustard);
	top: 10px;
	left: 0px;
	width: 280px;
	height: 280px;
}

.statement .c {
	top: 0px;
	left: 10px;
	height: 280px;
}

.large-nav {
	padding-bottom: 50px;
}

.large-nav-cont {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.large-nav-item {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex: 0 0 160px;
	padding-bottom: 10px;
}

.large-nav-item::after {
	position: absolute;
	content: '';
	background-color: var(--mustard);
	opacity: 30%;
	top: 0px;
	width: 160px;
	height: 160px;
	border-radius: 80px;
}

.large-nav-circle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 160px;
	height: 160px;
}

.large-nav-icon {
	width: 100px;
	z-index: 3;
}

.large-nav-icon#bottle {
	width: 50px;
}

.large-nav-arrow {
	height: 0.7em;
}

.button {
	padding: 10px 20px;
	background-color: var(--mustard);
	color: black;
	border-radius: 4px;
}

@media (max-width: 800px) {
	.row-adapt {
		flex-direction: column;
	}

	.mission .text {
		margin-right: 0px;
	}

	.statement .text {
		padding-left: 0px;
	}

	.large-nav-item {
		flex: 0 0 130px;
	}

	.large-nav-item::after {
		width: 100px;
		height: 100px;
		border-radius: 50px;
	}

	.large-nav-circle {
		width: 100px;
		height: 100px;
	}

	.large-nav-icon {
		width: 60px;
	}

	.large-nav-icon#bottle {
		width: 30px;
	}
	
	.nav-pages {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
	}
}

@media (max-width: 400px) {
	.large-nav-item {
		flex: 0 0 110px;
	}
	
	.large-nav-cont {
		font-size: 0.8em;
	}
}
