:root {
	--mustard: #D7B344;
	--red: #A1151A;
	--background: #F4F2EB;
}

body {
	background-color: var(--background);
	font-family: sans-serif;
	margin: 0;
}

.page {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.header, .mission, .statement, .large-nav {
	padding: 10px 10%;
}

.header {
	background-color: var(--background);
	position: sticky;
	top: 0px;
}

.mission {
	background-color: var(--red);
	background-image: url("Assets/Backgrounds/texture-a 1.png");
	background-blend-mode: multiply;
	background-size: cover;
	color: white;
}

.statement, .large-nav {
	position: relative;
	padding: 0px;
}

.bg-accent {
	position: absolute;
	background-color: white;
	width: 70%;
	height: 100%;
}

.over-accent {
	position: relative;
	padding: 10px 10%;
}

.row-adapt {
	display: flex;
	flex-direction: row;
	position: relative;
}

h1, h2 {
	font-family: serif;
}

.header-em {
	font-style: italic;
}

.mission .cell {
	position: relative;
}

.mission .column {
	display: flex;
	align-items: center;
	justify-content: center;
}

.mission .text {
	margin-right: 50px;
	margin-bottom: 50px;
}

.mission .images {
	height: 380px;
	width: 330px;
	align-self: center;
}

.mission .a, .mission .b, .mission .square, .mission .circle {
	position: absolute;
	display: block;
	border-radius: 12px;
	box-shadow: 0px 0px 24px black;
}

.mission .square {
	background-color: var(--mustard);
	top: 100px;
	left: 80px;
	width: 200px;
	height: 200px;
}

.mission .circle {
	display: flex;
	align-items: center;
	justify-content: center;
	top: 310px;
	left: 300px;
	width: 160px;
	height: 160px;
	border-radius: 80px;
	border: 1.5px dashed var(--mustard);
	box-shadow: 0px 0px 0px black;
}

.mission .ribbon {
	width: 80px;
}

.mission .a {
	width: 260px;
}

.mission .b {
	top: 140px;
	left: 160px;
	width: 160px;
}

.button {
	padding: 10px 20px;
	background-color: var(--mustard);
	color: black;
	border-radius: 4px;
}

@media (max-width: 800px) {
	.row-adapt {
		flex-direction: column;
	}
	
	.mission .text {
		 margin-right: 0px;
	 }
}
